@import 
  url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;

  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
 
  color: var(--color);
  background-color: var(--background-color);

  padding: var(--padding);
}

#main {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: auto;

  gap: var(--padding);
}

#main .header,
#main .footer {
  flex: 0 0 auto;
}

#main .body {
  flex: 1 1 auto;

  overflow: auto;
}

body,
div {
  box-sizing: border-box;
}
